@charset "utf-8";
.m_k_dot_wrap{position:fixed; top:50%; right:3%; transform:translateY(-50%);}
.m_k_dot_wrap>li{width:10px; height:10px; background:#000; border-radius:50%; text-indent:-9999em; margin-bottom: 24px; transition:.5s;}
.m_k_dot_wrap>.k_dot4{margin-bottom:0;}
.m_k_dot_wrap>li.on{width:15px; height:15px; background:#93f3f0;}
@media screen and (min-width:768px) and (max-width:1259px){
    .k_line{display: none;}
    .m_k_dot_wrap{display:block;}
    #k_gnb{display:none;}
    div>section.k_center{left:0; top:0; width: 100%; height:100%; transform:none; max-width: inherit;}
    #intro>section>span{position:absolute; top:50%; left:50%; transform:translateY(-50%) translateX(-50%); margin:0px;}
    #about>section>img{width:40%;}
    #contact>section{top: 50%; transform: translateY(-50%) translateX(-50%); left: 50%;}
    .pie_wrap{width: 60%; margin-top:30px;}
    .pie_wrap>div{width:33.3333%; margin-top:0px;}
    .pie_wrap>div:nth-child(3)~div{margin-top:55px;}
    .about_content{margin-top:45%;}
    .pie-skill{top:26px;}
    .pie-value{top:50%;}
    .about_content>li>p{font-size: 12px;}
    .about_content>li>p>span{font-size: 15px;}
    .k_gw_on img,.k_nam_on img,.k_sam_on img{width:100%}
}
@media screen and (min-width:768px) and (max-width:900px){
    .about_content{margin-top:55%;}
    .about_content>li{width:50%; height: 200px;}
    .about_content>li>p{margin-left:0; font-size: 16px;}
    .about_content>li>p>span{margin-left:0; font-size: 20px;}
    #portfolio ul>li>a:nth-of-type(2){margin:0 10px;}
}

@media screen and (max-width:767px){
    #k_hd{height:initial;}
    #k_gnb,.k_line{display: none;}
    html, body{height:initial;}
    .m_blind,.m_k_dot_wrap{display:block;}
    .m_blind{text-align: center; display: block; font-size: 18px; margin-bottom: 20px;}
    div>section{position:static; width: 100%; height:initial; transform:none; padding-top:50px; padding-bottom:50px;}
    #intro, #about, #skill, #portfolio, #contact{overflow:visible;}
    #intro>section>h2{font-size: 25px;}
    #intro>section>span{position:absolute; top:50%; left:50%; transform:translateY(-50%) translateX(-50%); margin:0px; font-size:30px; width:100%;}
    #intro>section>p{font-size: 20px; width:100%;}
    #about>section{text-align:center;}
    #about>section>img{width:100%; float: none; margin: 20px auto;}
    #portfolio>section{padding-left:15px; padding-right:15px;}
    #contact>section{height:initial; width:initial; padding:50px 15px;}
    #contact>section>h2{position:static; transform:none; letter-spacing:normal;}
    .about_content{margin-top:0px;}
    .about_content>li{float: none;width: inherit;}
    .about_content>li:nth-child(1){margin-top: 20px;}
    .about_content>li:nth-child(1)~li>p{float:left;}
    .about_content>li:nth-child(1)~li>p:nth-child(1){margin-right: 30px;}
    .about_content>li>p{line-height:30px; font-size: 12px; margin-left:0; text-align: left; margin-bottom:15px;}
    .about_content>li>p>span{font-size: 15px;}
    .pie_wrap{display: none;}
    .pie-skill{top:26px;}
    .pie-value{top:50%;}
    #portfolio .k_pofol>li{position:static; width: 100%}
    #portfolio .m_blinds:nth-child(2){display:none;}
    #portfolio .m_size>li{width: 100%;;}
    #portfolio .m_size>li>a{width:100%; font-size:12px; margin-top: 20px;}
    #portfolio .m_size>li>a:nth-of-type(2){margin:0; margin-top:20px;}
    #portfolio .k_sam_on .m_size>li>a{width:100%; margin-left:0;}
    #portfolio .k_sam_on ul>li>a:nth-of-type(2){margin-left:0;}
    .k_nam_on, .k_sam_on, .k_gw_on{position: fixed; padding-top: 20px;}
    .k_gw_on img,.k_nam_on img,.k_sam_on img{width:80%}
    .btn_close{bottom:30px;}
    .td_label{display:none;}
    .contact_wrap table td.align_top{height:120px;}
    .td_box{width:70%; padding-bottom:10px; font-size: 12px;}
    .contact_wrap .agree{width: 20px; font-size:12px;}
    .info_agree{padding:15px;}
    @keyframes intro1{
        0%{top:-50px;}
        100%{top:25%;}
    }
    @keyframes intro2{
        0%{bottom:-50px;}
        100%{bottom:25%;}   
    ㅌ  }
}