@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif; font-size:14px; line-height:1.6;}
a{color:#333; text-decoration: none;}
a:hover, a:focus{color:#000;}

/* common */
.g_center{width:1200px; margin:0 auto; }
.g_blind{position:absolute; left:-9999em;}
.g_clear:after{content:''; display:block; clear:both;}
img{vertical-align:top;}
/* skip */
#skip>a{position:absolute; left:-9999em; padding:5px 10px; background:#fff;}
#skip>a:focus{left:0%;}

/* header */
.hd{border-bottom:2px solid #666;}
.hd>.top_menu{background:#7a0503; padding:6px 0;}
.search{float:left; background:#fff;}
.search #keyword{border:none;}
.search input[type=button]{text-indent:-9999em; border:none; width:23px; height:23px; background:url("../image/common/search.jpg");}
.sns{float:left;}
.sns>li{float:left; text-indent:-9999em; width:23px; height:23px; background: no-repeat; margin:0 5px;}
.sns>.g_fb{background-image: url(../image/common/icon_facebook.png);}
.sns>.g_tw{background-image: url(../image/common/icon_twitter.png);}
.sns>.g_in{background-image: url(../image/common/icon_instargram.png);}
.g_lnb{float:right; margin:2px 5px;}
.g_lnb>li{float:left; display:inline; padding:2px 10px 2px 0; margin:5px 5px; border-right:1px solid #fff; line-height:7px;}
.g_lnb>li:last-child{padding-right:0; border:0;}
.g_lnb>li>a{color:#fff;}
/* E top_menu */

.gnb_wrap{position:absolute; z-index:9990; top:37px; left: 0; width:100%; background:#fff; border-bottom:2px solid #666;}
.gnb_wrap>div{ background:#fff url(../image/common/note.jpg) no-repeat 20px 86px;}
.gnb_wrap .logo{float:left;}
.gnb_wrap .logo>a{display:block; width:305px; height:38px; text-indent:-9999em; margin: 22px 0; background:url(../image/common/main_logo.jpg) no-repeat;}
#gnb{float:right;}
#gnb>li{float:left; width:164px; box-sizing: border-box;}
#gnb>li>a{display:block; font-size:16px; color:#000; font-weight:bold; line-height: 1em; padding:22px 16px 16px 27px; box-sizing: border-box; text-align:center; line-height: 48px; }
#gnb>li>a:hover,#gnb>li>a:focus{color:#7a0503;}
#gnb>li>ul{display:none; background:#fff;}
#gnb>li>ul>li>a{display: block; color:#7a0503; font-size:16px; line-height: 1.8em; text-align: center;}
#gnb>li>ul>li>a:hover,#gnb>li>ul>li>a:focus{color:#fff;background-color:#7a0503;}
/* E gnb_wrap */

/* footer */

.relation_site{margin-top: 50px; border-top:1px solid #ccc; border-bottom:1px solid #7a0503;}
.relation_site li {float:left;}
.relation_site li a{display:block; width:171px; height:51px; text-indent:-9999em; background: no-repeat;}
.relation_site li:nth-child(1) a{background-image:url(../image/common/relation1.png);}
.relation_site li:nth-child(2) a{background-image:url(../image/common/relation2.png);}
.relation_site li:nth-child(3) a{background-image:url(../image/common/relation3.png);}
.relation_site li:nth-child(4) a{background-image:url(../image/common/relation4.png);}
.relation_site li:nth-child(5) a{background-image:url(../image/common/relation5.png);}
.relation_site li:nth-child(6) a{background-image:url(../image/common/relation6.png);}
.relation_site li:nth-child(7) a{background-image:url(../image/common/relation7.png);}
/* E relation_site */

.ft_lnb{text-align:center; margin-top:15px; padding-bottom: 15px;}
.ft_lnb li{display:inline-block; margin:5px 5px; border-right:1px solid #666; color:#666; padding:2px 10px 2px 0; line-height:7px;}
.ft_lnb li:last-child{border-right:0;}
/* E ft_lnb */

.ft{border-top:1px solid #e8e8e8;padding:40px 0;}

.ft .ft_logo{float:left; width:305px; height:38px; text-indent:-9999em; background:url(../image/common/main_logo.jpg) no-repeat;}
.ft .info_wrap{float:left;margin-left: 50px; font-weight: bold; font-family: 'NanumSquareRound',sans-serif;}
.ft .info_wrap>.addr{font-size:0.8em;}
.ft .info_wrap>.copy{font-size:0.6em;}



